VITE_SUPABASE_URL=https://pcncamwcfmjjtexubejd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjbmNhbXdjZm1qanRleHViZWpkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAzOTM2OTAsImV4cCI6MjEwNTk2OTY5MH0.EX1RZeQuqBLo4mQcqWs1ljtTujOzcQYtm5MzxDDAx0M
